/node_modules
/packages/*/dist
/packages/*/node_modules
/packages/cli-common/resources/templates/template-project/admin
/packages/engine-system-api/migrations/*.d.ts
/packages/engine-tenant-api/migrations/*.d.ts
